/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* Common */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Layout */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: violet; */
}

.first-row {
    margin-bottom: 10px;
}

.product {
    height: 600px;
    width: calc(100% / 3 - 7px);
    margin-right: 10px;
    /* background-color: lightgreen; */
    float: left;
}

.product:last-child {
    margin-right: 0px;
}

.product-img {
    height: 85%;
    background-color: lightblue;
    position: relative;
    overflow: hidden;
}

.product-img img {
    width: 100%;
    position: absolute;
    
}

.second-img:hover {
    display: none;
}

.fav {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    line-height: 30px;
    text-align: center;
}

.labels {
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
}

.sale {
    background-color: red;
    height: 20px;
    width: 40px;
    display: inline-block;
}

.sustainable {
    background-color: green;
    height: 20px;
    width: 70px;
    display: inline-block;
}

.sustainable span,
.sale span {
    line-height: 20px;
    vertical-align: middle;
}

.product-description {
    margin-top: 10px;
    /* background-color: lightsalmon; */
}

.product-description span {
    font-weight: 300;
    font-size: 0.8em;
    color: grey;
}

.product-description .actual-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}

.product-description h2 {
    text-transform: uppercase;
    font-size: 1.2em;
}