/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Roboto', sans-serif;
}

/* Common */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Layout */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    background-color: violet;
}

.first-row {
    margin-bottom: 10px;
}

.prodotto {
    height: 600px;
    width: calc(33.33% - 7px);
    margin-right: 10px;
    background-color: lightgreen;
    float: left;
}

.prodotto:last-child {
    margin-right: 0px;
}

.immagine-prodotto {
    height: 80%;
    width: 100%;
    background-color: lightblue;
    position: relative;
}

.immagine-prodotto img {
    height:100%; 
    width: 100%;
    object-fit: cover;
    
}

.descrizione-prodotto {
    height: 20%;
    width: 100%;
    background-color: lightsalmon;
}

.fav {
    background-color: white;
    height: 30px;
    width: 30px;
    position: absolute;
    right: 0;
    top: 10px;
    line-height: 30px;
    text-align: center;
}

.labels {
    position: absolute;
    bottom: 10px;
    left: 0px;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    text-align: center;
}

.sale {
    background-color: red;
    height: 20px;
    width: 40px;
    display: inline-block;
    line-height: 20px;
}

.sustainable {
    background-color: green;
    height: 20px;
    width: 70px;
    display: inline-block;
    line-height: 20px;
}