/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

/* Common */
.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

/* Layout */
.container {
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    /* background-color: violet; */
}

.product {
    /* height: 600px; */
    width: calc(100% / 3 - 4em / 3);
    margin-right: 2em;
    margin-bottom: 1em;
    /* background-color: lightgreen; */
    float: left;
}

.product:last-child {
    margin-right: 0px;
}

.product-img {
    /* height: 85%; */
    /* background-color: lightblue; */
    position: relative;
}

.thumbs img {
    width: 100%;
    display: block;
}

.product .thumbs {
    position: relative;
}

.second-img {
    position: absolute;
    top: 0;
    left: 0;
}

.second-img:hover {
    display: none;
}

.fav {
    background-color: white;
    height: 2.5em;
    width: 2.5em;
    position: absolute;
    right: 0;
    top: 1em;
    line-height: 2.5em;
    text-align: center;
}

.labels {
    position: absolute;
    bottom: 1em;
    left: 0p;
    color: white;
    font-weight: bold;
    font-size: 0.7em;
    width: 100%;
}

.sale {
    background-color: red;
    padding: 0.5em;
    display: inline-block;
}

.sustainable {
    background-color: green;
    padding: 0.5em;
    display: inline-block;
}

.product-description {
    margin-top: 1em;
    /* background-color: lightsalmon; */
}

.product-description span {
    font-weight: 300;
    font-size: 0.8em;
    color: grey;
}

.product-description .actual-price {
    color: red;
    font-weight: bold;
}

.original-price {
    text-decoration: line-through;
}

.product-description h2 {
    text-transform: uppercase;
    font-size: 1.2em;
}